[submodule "deps/cmockery2"]
	path = deps/cmockery2
	url = https://github.com/lpabon/cmockery2.git
	ignore = dirty
[submodule "deps/nanomsg"]
	path = deps/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
	ignore = dirty
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/Kerrigan29a/lua.git
