# C related files
*.[oa]
*.so
*.obj
*.lib
*.exp
*.dll
*.exe

# Python related files
*.py[cod]
*.egg-info

# Test related files
tests/*/*.xml

*.manifest
*.dmp
*.swp
.tags*
.DS_Store
*.sublime-*
*.dSYM/
venv/
build/
src/*/*_decl.h